@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User == null)
    {
        <p>To log in to your account, log in.</p>
    }
    else
    {
        <p>@User.Identity.Name</p>
    }
</div>
